.row{
    display: flex;
    width: 700px;
}
div{
    
}
.empty{
    min-width:20px;
    min-height:20px;
    background-color: rgb(72, 188, 241);
}
.wall{
    min-width:20px;
    min-height:20px;
    background-color: white;
}
.lava{
    min-width:20px;
    min-height:20px;
    background-color: rgb(235, 92, 92);
}
.player{
    min-width:20px;
    min-height:20px;
    background-color: black;
}
.coin{
    min-width:20px;
    min-height:20px;
    background-color: yellow;
}