.row{
    display: flex;
    width: 700px;
}
div{
    width:5%;
    height:5%;
}
.empty{
    background-color: rgb(72, 188, 241);
}
.wall{
    background-color: white;
}
.lava{
    background-color: rgb(235, 92, 92);
}
.player{
    background-color: black;
}
.coin{
    background-color: yellow;
}